@import "./el/index.scss";

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ani-rotate {
  animation: spin 1s linear infinite;
}

.box {
  .box1 {
    font-size: 12px;
  }
}
